.App {
  text-align: center;
}

.Mybutton {
  background:url('/public/arrow_up.png') no-repeat;
  background-size:contain;
  height:20vh;width:20vh;
  border: none;
  vertical-align:middle;  
  text-align: center;
  text-decoration: none;
  font-size: 40px;
}
.Mybutton:hover {
  opacity: 40%;
}
.Top-bar {
  height: 20vmin;
  background-color: black;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  align-items: flex-start;
  
}
.box {
  
  margin-left: 10%;
  margin-right: 10%;
  height: 5vh;
  width: 15vh;
  color: white;
  text-align: center;
  border-radius: 10vh;
  font-size: 3vh;  
  background-color: #000000;
  opacity: 100%;
   


}
.box:hover{
  opacity:70%;
}
.container {
  display: flex;
  align-content:flex-start;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
  margin-top: 15px;
  font-size: 32px;
  min-height: 10vh;
  min-width: 100vh;
}

html {
  background-color: black
}

.roller-container{
  align-content:center;
  background: rgba(127, 131, 138, 0.1);
  border-radius: 5%;
  vertical-align: middle;
  font-size: 10vh;
  min-height: auto;
  min-width: 25vh;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.h1{
  font-size: 10vmin;
  color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
