.App {
  text-align: center;
}

.Top-bar {
  height: 20vmin;
  background-color: black;
  margin-bottom: 15px;
  justify-content: space-between;
  
}
.box {
  
  margin-left: 10%;
  margin-right: 10%;
  height: 40px;
  width: 100px;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  
  background-color: #000000;
  opacity: 100%;


}
.box:hover{
  opacity:70%;
}
.container {
  display: flex;
  align-content:center;
  flex-direction: row;
  background-color: #000000;
  justify-content: space-between;
  font-size: 32px;
  min-height: 15vh;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.h1{
  font-size: 10vmin;
  color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
